<!-- 
<%= @user.inspect %>
-->

<h1>
  <p>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </p>
  
  <p><%= @user.email %></p>
  <P><%= @user.age %> 歳</P>
  <p><%= @user.profile_name %></p>
  <p><%= @user.area %></p>
</h1>